<ion-content fullscreen>

  <div style="background-color: cornflowerblue; text-align: center;">
    <span style="line-height: 400px;">Let's imagine this is a picture...</span>
  </div>

  <h2 style="margin-top: 24px; text-align: center;">Wie sollen wir dich nennen?</h2>

  <form style="padding: 24px; display: flex; flex-direction: column; gap: 24px;">
    <ion-input label="User Name" labelPlacement="stacked" fill="outline"></ion-input>
  </form>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div style="padding: 24px;">
      <button style="width: 100%; height: 56px;">Submit</button>
    </div>
  </ion-toolbar>
</ion-footer>
